# Auth0
REACT_APP_AUTH0_REDIRECT_URI=http://localhost:3000
REACT_APP_AUTH0_AUDIENCE=http://localhost:3000

# API
REACT_APP_ACTIVITRAX_API_URL=http://localhost:4000

# Strava
REACT_APP_STRAVA_REDIRECT_URI=http://localhost:3000

# Spotify
REACT_APP_SPOTIFY_REDIRECT_URI=http://localhost:3000
